@media (max-width: 75em) {
    html {
        background-color: yellow;
    }
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: red;
}

#navbar ul {
    display: flex;
}

.nav-list {
    margin-right: 2rem;
    list-style: none;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: green;
}

#contact-section {
    background-color: yellow;
}

footer {
    background-color: purple;
}