:root {
    --main-green: #43E97B;
    --dark-purple: #9C3D93;
    --light-purple: #E84FDA;
    --dark-brown: #9C461E;
    --light-brown: #E87038;
}

@media (max-width: 75em) {
    html {
        background-color: yellow;
    }
}

html {
    scroll-behavior: smooth;
    color: white;
    font-family: 'Cabin', sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0;
}

#welcome-section h3 {
    font-style: italic;
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: var(--dark-purple);
}

#navbar ul {
    display: flex;
}

.nav-list {
    margin-right: 2rem;
    list-style: none;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #43e97b 0%, #38f9d7 100%);
}

#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem;
    background-color: var(--dark-purple)
}

.project-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile img {
    width: 40rem;
    height: 20rem;
}

figcaption {
    text-align: center;
    background-color: var(--light-brown);
    padding: 1rem 1rem;
    margin-top: -5px;
}

#contact-section {
    background-color: var(--main-green);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

#contact-section p {
    margin-right: 1rem;
}

#contact-links {
    display: flex;
}

i {
    margin-right: .3rem;
}

footer {
    background-color: var(--light-purple);
    display: flex;
    justify-content: center;
}