@media (max-width: 75em) {
    html {
        background-color: yellow;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: red;
}

#navbar ul {
    display: flex;
}

.nav-list {
    margin-right: 2rem;
    list-style: none;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.5rem;
    background-color: green;
}

.project-tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile img {
    width: 40rem;
    height: 20rem;
}

figcaption {
    text-align: center;
    background-color: red;
    padding: 1rem 1rem;
    margin-top: -4px;
}

#contact-section {
    background-color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

#contact-section p {
    margin-right: 1rem;
}

#contact-links {
    display: flex;
}

i {
    margin-right: .3rem;
}

footer {
    background-color: purple;
    display: flex;
    justify-content: center;
}