:root {
    --purple: #802BB1;
    --black-purple: #2D283E;
    --gray-purple: #564F6F;
    --gray: #4C495D;
    --light-gray: #D1D7E0;
}

html {
    scroll-behavior: smooth;
    color: white;
    font-family: 'Cabin', sans-serif;
}

@media (max-width: 768px) {
    html {
        color: black;
    }
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--light-gray);
}

h1 {
    font-size: 5rem;
    margin-bottom: 0;
    color: var(--purple)
}

#welcome-section h3 {
    font-style: italic;
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
    color: var(--light-gray)
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: var(--purple);
}

#navbar ul {
    display: flex;
}

.nav-list {
    margin-right: 2rem;
    list-style: none;
}

.nav-list:hover {
    text-decoration: underline;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-purple);
}

#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem;
    background-color: var(--gray)
}

#projects h3 {
    margin: 0;
    font-size: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid var(--light-gray);
}

.project-tile {
    padding: 5rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile img {
    width: 40rem;
    height: 20rem;
}

.grow {
    transition: all .2s ease-in-out
}

.grow:hover {
    transform: scale(1.1);
}

figcaption {
    text-align: center;
    background-color: var(--black-purple);
    padding: 1rem 1rem;
    margin-top: -5px;
}

#contact-section {
    background-color: var(--gray-purple);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

#contact-section h2 {
    font-size: 4rem;
    color: var(--light-gray);
}

#contact-section p {
    margin-right: 1rem;
    font-size: 1.5rem;
}

#contact-section p:hover {
    text-decoration: underline;
}

#contact-links {
    display: flex;
}

i {
    margin-right: .3rem;
}

footer {
    background-color: var(--black-purple);
    display: flex;
    color: var(--light-gray);
    justify-content: center;
}