* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

#wrapper {
    max-width: 960px;
    background-color: #222;
    padding-bottom: 30px;
}

body {
    color: white;
    background-image: url(../images/background.png);
    background-repeat: repeat-y;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

h1 {
    font-size: 36px;
    margin-top: 30px;
}

#sword {
    width: 55px;
    height: 100px;
    background: url(../images/swordshield.png);
    margin: 0;
    margin-left: 22px;
}

#shield {
    width: 77px;
    height: 100px;
    background: url(../images/swordshield.png) -55px, 0;
    margin: 0;
}

.custom-pokemon {
    width: 169px;
    height: 20px;
}

.card-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardSpace {
    width: 200px;
    height: 200px;
    border-bottom: none;
    margin: 20px;
    perspective: 600px;
}

.cardContent {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.back-content {
    transform: rotateY(180deg);
}

.card {
    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
    border: 1px solid black;
}

.card-front img {
    height: 100%;
    width: 100%;
}

.card-back {
    width: 200px;
    height: 228px;
    transform: rotateY(180deg);
    position: relative; top: -228px;
}

.card-back p {
    margin-top: 50px;
}

.card-front-name {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    padding-bottom: 10px;
}

.card-front-name p, img {
    margin: 0;
}

.card-front-name img {
    margin-left: 8px;
    width: 16px;
}

.card-front-name .type-2 {
    margin-left: 2px;
}

.card-front-name {
    margin-left: 32px;
}